################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/TestProject1/FileContentIndex/690f515c-1eb1-4fad-96fe-c925ae1e451f.vsidx
